<div>
  <header>
    <h1 (click)="refresh()">Restaurant API Demo</h1>
    <nav>
      <ul>
        <li
          (click)="callApiHeader(menuTypeKey)"
          class="menu-type"
          *ngFor="let menu of allMenus | keyvalue"
        >
          <a
            href="#"
            (click)="toggleActive(linkRef, menu.key)"
            [class.active]="linkRef === activeLink"
            #linkRef
            >{{ menu.key | capitalizeFirst }}</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <app-menu-card [menuTypeKey]="menuTypeKey"></app-menu-card>
</div>
